{
	margin:0;
	padding:0;
}
#main
{
	text-align: center;
background-color:rgb(161, 161, 177);
}
.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgba(38, 11, 29, 0.616)!important;
    color: #fff!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(43, 43, 61)!important;
}